# By default, require reviews from the release approvers for all files.
* @capachino @evanotero @heltonduarte @QuanZhang-William @shrishabh

# The following files don't need reviews from the release approvers.
# These patterns override the rule above.
**/*.md
/docs/
